<html>
    <head>
        <title>Lana blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Lana Blog</a></h1>
        </div>
<p></p>
<p></p>
<p></p>
        <div>
            <p>published: 29.04.2018, 18:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Hi everybody!</p>
        </div>
<p></p>
<p></p>
<p></p>
        <div>
            <p>published: 29.04.2018, 18:05</p>
            <h2><a href="">My second post</a></h2>
            <p>I did it!</p>
            <p>Django Girls are cool!</p>
        </div>
    </body>
</html>